*
!.bash_profile
!.bashrc
!.config
!.gitconfig
!.gitignore_global
!.inputrc
!.powerline
!.powerline_kube
!.ssh/config
!.sshdot
!.sshdot.d/.bashrc
!.sshdot.d/.gitconfig
!.sshdot.d/.gitignore_global
!.sshdot.d/.inputrc
!.sshdot.d/.powerline
!.sshdot.d/.tmux.conf
!.sshdot.d/.vim
!.sshdot.d/.vimrc
!.sshdot.d/z.sh
!.tmux.conf
!.vim
.vim/plugged
.vim/.netrwhist
!.vimrc
